.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #525252;
  color: white;
}

.header .logo {
  height: 50px;
}

.header nav a {
  margin: 0 10px;
  color: rgb(201, 0, 0);
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}
.header nav a:hover {
  color: rgb(207, 207, 207);
}

.home-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
max-width: 100%;
height: auto;
  object-fit: cover;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  max-width: 600px;
  z-index: 2;
  padding: 1.5rem;
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.cta-button {
  display: inline-block;
  background-color: #f94c66;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-text {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}


.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ff4081;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.manual-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 1rem;
}

.manual-card img {
  width: 100%;
  height: 450px;        
  border-radius: 8px;
  object-fit: cover;    
}

.more-button-wrapper{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.about-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

